<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <div class="coverPhoto">
        <img src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-9/p720x720/89721928_2849363681796292_6475864247669620736_o.jpg?_nc_cat=106&ccb=2&_nc_sid=825194&_nc_ohc=hlJ_609u8qoAX-qA5rD&_nc_oc=AQmV1svjEX2mcYUazvk_ldF-25iwOj-kalwlEXGHjTsnQu2tre-9jdOImXLLqkGGWB4UlTvUIdmjhYLby5r6fWs6&_nc_ht=scontent.fhan5-3.fna&tp=6&oh=0e9509cfc7f4db9bbbc6e61264425c58&oe=5FC987B2">
      </div>
      <div class="ihqw7lf3 discj3wi l9j0dhe7">

      </div>
    </div>
    <div class="col-md-12">
      <div class="header">
        <nav class="navbar navbar-expand-sm publicBackground">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/wru/forum">Discussion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Announements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rooms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
              </li>
            </ul>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-search"></i>Search
            </button>
            <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <form class="form-inline my-2 my-lg-0" action="/action_page.php">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input class="form-control mr-sm-2" type="text" placeholder="Search this group">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </nav>
      </div>
    </div>
  </div>
</div>