<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="topHeader">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="users/register">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thông báo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
          <li class="nav-item">
            <p class="nav-link">Ngôn ngữ:</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="footHeader">
        <div class="navbar navbar-expand-sm">
          <a class="navbar-brand" href="/">
            <img src="http://cse.tlu.edu.vn/cse/assets/images/logo.jpg" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="/"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Nghiên cứu khoa học</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Diễn đàn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tin tức</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
